node_modules
.DS_Store

# Compiled files
# -----------
notify.js
notify.js.map
notify.d.ts
notifier.js
notifier.js.map
notifier.d.ts
snackbar-component.js
snackbar-component.js.map
snackbar-component.d.ts
toast-component.js
toast-component.js.map
toast-component.d.ts
